# Joins in `pyspark`

Performed with `df_left.join(df_right, how=type_str)`

In [1]:
from pyspark.sql import SparkSession
from more_pyspark import to_pandas
spark = SparkSession.builder.appName('Ops').getOrCreate()
deptk = spark.read.csv("./data/department.csv",  header=True, inferSchema=True)
deptk.collect() >> to_pandas

   DeptID     DeptName
0      31        Sales
1      33  Engineering
2      34     Clerical
3      35    Marketing

In [2]:
emplk = spark.read.csv("./data/employee.csv",  header=True, inferSchema=True)
emplk.collect() >> to_pandas

   DeptID    LastName
0    31.0    Rafferty
1    33.0       Jones
2    33.0  Heisenberg
3    34.0    Robinson
4    34.0       Smith
5     NaN    Williams

#### Inner join

In [3]:
(emplk.join(deptk, emplk.DeptID == deptk.DeptID, how='inner')
 .collect()) >> to_pandas

   DeptID    LastName     DeptName
0      31    Rafferty        Sales
1      33       Jones  Engineering
2      33  Heisenberg  Engineering
3      34    Robinson     Clerical
4      34       Smith     Clerical

#### Left join

In [4]:
(emplk.join(deptk, emplk.DeptID == deptk.DeptID, how='left')
 .collect()) >> to_pandas

   DeptID    LastName     DeptName
0    31.0    Rafferty        Sales
1    33.0       Jones  Engineering
2    33.0  Heisenberg  Engineering
3    34.0    Robinson     Clerical
4    34.0       Smith     Clerical
5     NaN    Williams         None

#### Right join

In [5]:
(emplk.join(deptk, emplk.DeptID == deptk.DeptID, how='right')
 .collect()) >> to_pandas

   DeptID    LastName     DeptName
0      31    Rafferty        Sales
1      33  Heisenberg  Engineering
2      33       Jones  Engineering
3      34       Smith     Clerical
4      34    Robinson     Clerical
5      35        None    Marketing

#### Outer join

In [6]:
(emplk.join(deptk, emplk.DeptID == deptk.DeptID, how='outer')
 .collect()) >> to_pandas

   DeptID    LastName     DeptName
0     NaN    Williams         None
1    35.0        None    Marketing
2    34.0    Robinson     Clerical
3    34.0       Smith     Clerical
4    31.0    Rafferty        Sales
5    33.0       Jones  Engineering
6    33.0  Heisenberg  Engineering

## <font color="red"> Exercise 2 </font>

Determine all the players that have hit more than 100 home runs in a season.  The final table should include the players proper name, as well as the team name.  

**Hint:** You will need join the files listed below.  To get credit for this exercise, use the join `pyspark` join methods presented above.

In [11]:
files = ("./data/baseball/core/Batting.csv", 
              "./data/baseball/core/People.csv",
              "./data/baseball/core/Teams.csv")

In [ ]:
battingk, peoplek, teamsk = [spark.read.csv(f,  header=True, inferSchema=True) for f in files]

In [21]:
batting_reducedk =battingk.select('playerID', 'yearID', "HR", 'teamID').filter(battingk['HR'] >= 50)

In [24]:
people_reducedk = peoplek.select('playerID', 'nameGiven')

In [26]:
teams_reducedk = teamsk.select('teamID', 'yearID', 'name')

In [36]:
HR_over50 = (batting_reducedk
             .join(people_reducedk, batting_reducedk.playerID == people_reducedk.playerID, how='left')
             .join(teams_reducedk, (batting_reducedk.teamID == teams_reducedk.teamID)&
                   (batting_reducedk.yearID == teams_reducedk.yearID), how='left'))
HR_over50.collect() >> to_pandas

,playerID,yearID,HR,teamID,nameGiven,name
0,ruthba01,1920,54,NYA,George Herman,New York Yankees
1,ruthba01,1921,59,NYA,George Herman,New York Yankees
2,ruthba01,1927,60,NYA,George Herman,New York Yankees
3,ruthba01,1928,54,NYA,George Herman,New York Yankees
4,wilsoha01,1930,56,CHN,Lewis Robert,Chicago Cubs
5,foxxji01,1932,58,PHA,James Emory,Philadelphia Athletics
6,foxxji01,1938,50,BOS,James Emory,Boston Red Sox
7,greenha01,1938,58,DET,Henry Benjamin,Detroit Tigers
8,kinerra01,1947,51,PIT,Ralph McPherran,Pittsburgh Pirates
9,mizejo01,1947,51,NY1,John Robert,New York Giants
10,kinerra01,1949,54,PIT,Ralph McPherran,Pittsburgh Pirates
11,mayswi01,1955,51,NY1,Willie Howard,New York Giants
12,mantlmi01,1956,52,NYA,Mickey Charles,New York Yankees
13,mantlmi01,1961,54,NYA,Mickey Charles,New York Yankees
14,marisro01,1961,61,NYA,Roger Eugene,New York Yankees
15,mayswi01,1965,52,SFN,Willie Howard,San Francisco Giants
16,fostege01,1977,52,CIN,George Arthur,Cincinnati Reds
17,fieldce01,1990,51,DET,Cecil Grant,Detroit Tigers
18,belleal01,1995,50,CLE,Albert Jojuan,Cleveland Indians
19,anderbr01,1996,50,BAL,Brady Kevin,Baltimore Orioles
20,mcgwima01,1996,52,OAK,Mark David,Oakland Athletics
21,griffke02,1997,56,SEA,George Kenneth,Seattle Mariners
22,griffke02,1998,56,SEA,George Kenneth,Seattle Mariners
23,mcgwima01,1998,70,SLN,Mark David,St. Louis Cardinals
24,sosasa01,1998,66,CHN,Samuel Peralta,Chicago Cubs
25,vaughgr01,1998,50,SDN,Gregory Lamont,San Diego Padres
26,mcgwima01,1999,65,SLN,Mark David,St. Louis Cardinals
27,sosasa01,1999,63,CHN,Samuel Peralta,Chicago Cubs
28,sosasa01,2000,50,CHN,Samuel Peralta,Chicago Cubs
29,bondsba01,2001,73,SFN,Barry Lamar,San Francisco Giants
30,gonzalu01,2001,57,ARI,Luis Emilio,Arizona Diamondbacks
31,rodrial01,2001,52,TEX,Alexander Enmanuel,Texas Rangers
32,sosasa01,2001,64,CHN,Samuel Peralta,Chicago Cubs
33,rodrial01,2002,57,TEX,Alexander Enmanuel,Texas Rangers
34,thomeji01,2002,52,CLE,James Howard,Cleveland Indians
35,jonesan01,2005,51,ATL,Andruw Rudolf,Atlanta Braves
36,howarry01,2006,58,PHI,Ryan James,Philadelphia Phillies
37,ortizda01,2006,54,BOS,David Americo,Boston Red Sox
38,fieldpr01,2007,50,MIL,Prince Semien,Milwaukee Brewers
39,rodrial01,2007,54,NYA,Alexander Enmanuel,New York Yankees
40,bautijo02,2010,54,TOR,Jose Antonio,Toronto Blue Jays
41,davisch02,2013,53,BAL,Christopher Lyn,Baltimore Orioles
42,judgeaa01,2017,52,NYA,Aaron James,New York Yankees
43,stantmi03,2017,59,MIA,Giancarlo Cruz-Michael,Miami Marlins

## Up Next

Stuff