# Lab 4 - Pitching Aggregation

## Setup

#### `pandas`

In [2]:
import pandas as pd
from dfply import *
pitching_raw = pd.read_csv('./data/baseball/core/Pitching.csv') 
pitching = (pitching_raw >>
             mutate(id = pitching_raw.index))
pitching.head()

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP,id
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,7,NaN,0,146.0,0,42,NaN,NaN,NaN,0
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,7,NaN,0,1291.0,0,292,NaN,NaN,NaN,1
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,2,NaN,0,14.0,0,9,NaN,NaN,NaN,2
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,20,NaN,0,1080.0,1,257,NaN,NaN,NaN,3
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,0,NaN,0,57.0,0,21,NaN,NaN,NaN,4

#### `sqlalchemy`

In [3]:
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import select as select_sql

pitching_eng = create_engine("sqlite:///databases/baseball_2_5.db") 
Base = automap_base()
Base.prepare(pitching_eng, reflect=True)
Pitching = Base.classes.pitching
Pitching

sqlalchemy.ext.automap.pitching

In [4]:
stmt = select_sql('*').select_from(Pitching).limit(5)
pd.read_sql_query(stmt, con=pitching_eng)

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP,id
0,bechtge01,1871,1,PH1,None,1,2,3,3,2,...,7,None,0,146.0,0,42,None,None,None,0
1,brainas01,1871,1,WS3,None,12,15,30,30,30,...,7,None,0,1291.0,0,292,None,None,None,1
2,fergubo01,1871,1,NY2,None,0,0,1,0,0,...,2,None,0,14.0,0,9,None,None,None,2
3,fishech01,1871,1,RC1,None,4,16,24,24,22,...,20,None,0,1080.0,1,257,None,None,None,3
4,fleetfr01,1871,1,NY2,None,0,1,1,1,1,...,0,None,0,57.0,0,21,None,None,None,4

#### `pyspark`

In [5]:
from pyspark.sql import SparkSession
from more_pyspark import get_spark_types, to_pandas

spark = SparkSession.builder.appName('Ops').getOrCreate()

schema = get_spark_types(pitching, keys=['id'])

pitching_spark = spark.createDataFrame(pitching, schema=schema)
(pitching_spark.
   take(5)) >> to_pandas

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP,id
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,7,NaN,0,146.0,0,42,NaN,NaN,NaN,0
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,7,NaN,0,1291.0,0,292,NaN,NaN,NaN,1
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,2,NaN,0,14.0,0,9,NaN,NaN,NaN,2
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,20,NaN,0,1080.0,1,257,NaN,NaN,NaN,3
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,0,NaN,0,57.0,0,21,NaN,NaN,NaN,4

## Task 1

Compute and plot the average home runs per game allowed per year for all years in the pitching table.  To accomplish this task, you should

1. Aggregate total `HR` and `IPouts` for each year.
1. Create a `games_pitched` column, which is computed by dividing total inning pitched outs `IPouts` by 27, the number of outs in a game.
2. Create a `hr_per_game` column by dividing the total `HR` for each year by `games_pitched` for each year.
4. Make line plot of the results. You will need to create a new column `HR_per_inning` then perform the group and aggregate. You can use [seaborn's lineplot](https://seaborn.pydata.org/generated/seaborn.lineplot.html) to make the graph.

Solve this problem in each framework.

## <font color="red"> Problem 1 </font>

Explain why we might want to total the home runs and outs pitched before dividing.

> *you want to make sure to take into account the amount of games because the more games the more homeruns*

## <font color="red"> Problem 2 </font>

Complete the above tasks using `pandas` and `dfply`

In [13]:
hr_per_year = (pitching 
                >>select(X.HR, X.IPouts, X.yearID)
                >>group_by(X.yearID)
                >>summarise(total_hr = X.HR.sum(),
                            total_outs = X.IPouts.sum())
                >>mutate(games_pitched = X.total_outs/27)
                >>mutate(hr_per_games = X.total_hr/X.games_pitched)
              )
hr_per_year

     yearID  total_hr  total_outs  games_pitched  hr_per_games
0      1871        47        6750     250.000000      0.188000
1      1872        37        9858     365.111111      0.101339
2      1873        47       10754     398.296296      0.118003
3      1874        40       12509     463.296296      0.086338
4      1875        40       18571     687.814815      0.058155
5      1876        40       14218     526.592593      0.075960
6      1877        24        9723     360.111111      0.066646
7      1878        23        9972     369.333333      0.062274
8      1879        58       17391     644.111111      0.090047
9      1880        62       18094     670.148148      0.092517
10     1881        76       17965     665.370370      0.114222
11     1882       178       30449    1127.740741      0.157838
12     1883       238       41627    1541.740741      0.154371
13     1884       689       80835    2993.888889      0.230135
14     1885       323       47161    1746.703704      0.184920
15     1886       413       54846    2031.333333      0.203315
16     1887       606       55110    2041.111111      0.296897
17     1888       521       57785    2140.185185      0.243437
18     1889       667       57061    2113.370370      0.315610
19     1890       764       84504    3129.777778      0.244107
20     1891       585       58361    2161.518519      0.270643
21     1892       417       48320    1789.629630      0.233009
22     1893       460       41593    1540.481481      0.298608
23     1894       629       41494    1536.814815      0.409288
24     1895       488       41421    1534.111111      0.318100
25     1896       404       41286    1529.111111      0.264206
26     1897       368       42012    1556.000000      0.236504
27     1898       299       47864    1772.740741      0.168665
28     1899       352       47665    1765.370370      0.199392
29     1900       254       29742    1101.555556      0.230583
..      ...       ...         ...            ...           ...
117    1988      3180      113003    4185.296296      0.759803
118    1989      3083      113145    4190.555556      0.735702
119    1990      3317      112691    4173.740741      0.794731
120    1991      3383      113309    4196.629630      0.806123
121    1992      3038      113489    4203.296296      0.722766
122    1993      4030      121521    4500.777778      0.895401
123    1994      3306       85759    3176.259259      1.040847
124    1995      4081      108096    4003.555556      1.019344
125    1996      4962      121682    4506.740741      1.101017
126    1997      4640      121362    4494.888889      1.032284
127    1998      5064      130304    4826.074074      1.049300
128    1999      5528      129634    4801.259259      1.151365
129    2000      5693      129733    4804.925926      1.184826
130    2001      5458      129862    4809.703704      1.134789
131    2002      5059      129807    4807.666667      1.052278
132    2003      5207      130006    4815.037037      1.081404
133    2004      5451      130182    4821.555556      1.130548
134    2005      5017      129697    4803.592593      1.044427
135    2006      5386      129774    4806.444444      1.120579
136    2007      4957      130277    4825.074074      1.027342
137    2008      4878      130073    4817.518519      1.012554
138    2009      5042      129816    4808.000000      1.048669
139    2010      4613      129916    4811.703704      0.958704
140    2011      4552      130582    4836.370370      0.941202
141    2012      4934      130066    4817.259259      1.024234
142    2013      4661      130960    4850.370370      0.960958
143    2014      4186      130841    4845.962963      0.863812
144    2015      4909      130223    4823.074074      1.017816
145    2016      5610      129919    4811.814815      1.165880
146    2017      6105      129771    4806.333333      1.270199

[147 rows x 5 columns]

## <font color="red"> Problem 3 </font>

Complete the above tasks using `sqlalchemy`

In [71]:
from sqlalchemy.sql import select as select_sql
from sqlalchemy import func
from sqlparse import format
from sqlalchemy import cast, Float

In [70]:
totals = (select_sql([func.sum(Pitching.HR).label('total_hr'), 
                    func.sum(Pitching.IPouts).label('total_outs'),
                   (Pitching.yearID)])
     .group_by(Pitching.yearID)
     .alias('tw_table'))
hr_per_year = (select_sql([((cast((totals.c.total_hr),Float)/(totals.c.total_outs/27)).label('hr_per_year')),
                          totals.c.yearID]))                 
pd.read_sql_query(hr_per_year, con=pitching_eng)

     hr_per_year  yearID
0       0.188000    1871
1       0.101370    1872
2       0.118090    1873
3       0.086393    1874
4       0.058224    1875
5       0.076046    1876
6       0.066667    1877
7       0.062331    1878
8       0.090062    1879
9       0.092537    1880
10      0.114286    1881
11      0.157941    1882
12      0.154445    1883
13      0.230204    1884
14      0.184994    1885
15      0.203348    1886
16      0.296913    1887
17      0.243458    1888
18      0.315665    1889
19      0.244167    1890
20      0.270708    1891
21      0.233091    1892
22      0.298701    1893
23      0.409505    1894
24      0.318123    1895
25      0.264225    1896
26      0.236504    1897
27      0.168736    1898
28      0.199433    1899
29      0.230699    1900
..           ...     ...
117     0.759857    1988
118     0.735800    1989
119     0.794872    1990
120     0.806244    1991
121     0.722817    1992
122     0.895556    1993
123     1.040932    1994
124     1.019485    1995
125     1.101198    1996
126     1.032488    1997
127     1.049316    1998
128     1.151427    1999
129     1.185054    2000
130     1.134955    2001
131     1.052424    2002
132     1.081412    2003
133     1.130678    2004
134     1.044555    2005
135     1.120682    2006
136     1.027358    2007
137     1.012663    2008
138     1.048669    2009
139     0.958844    2010
140     0.941274    2011
141     1.024289    2012
142     0.961031    2013
143     0.863983    2014
144     1.017831    2015
145     1.166078    2016
146     1.270287    2017

[147 rows x 2 columns]

## <font color="red"> Problem 4 </font>

Complete the above tasks using `pyspark`

In [67]:
import pyspark.sql.functions as fn
hrs= fn.sum(pitching_spark.HR).alias('total_hrs')
outs= fn.sum(pitching_spark.IPouts).alias('total_out')
totals = (pitching_spark
             .select([pitching_spark.yearID, 
                      pitching_spark.HR,
                      pitching_spark.IPouts])
             .groupby(pitching_spark.yearID)
             .agg((hrs/(outs/27)).alias('hr_per_game'))
             .orderBy(pitching_spark.yearID, ascending=True)
             .collect()
        ) >> to_pandas
totals

     yearID  hr_per_game
0      1871     0.188000
1      1872     0.101339
2      1873     0.118003
3      1874     0.086338
4      1875     0.058155
5      1876     0.075960
6      1877     0.066646
7      1878     0.062274
8      1879     0.090047
9      1880     0.092517
10     1881     0.114222
11     1882     0.157838
12     1883     0.154371
13     1884     0.230135
14     1885     0.184920
15     1886     0.203315
16     1887     0.296897
17     1888     0.243437
18     1889     0.315610
19     1890     0.244107
20     1891     0.270643
21     1892     0.233009
22     1893     0.298608
23     1894     0.409288
24     1895     0.318100
25     1896     0.264206
26     1897     0.236504
27     1898     0.168665
28     1899     0.199392
29     1900     0.230583
..      ...          ...
117    1988     0.759803
118    1989     0.735702
119    1990     0.794731
120    1991     0.806123
121    1992     0.722766
122    1993     0.895401
123    1994     1.040847
124    1995     1.019344
125    1996     1.101017
126    1997     1.032284
127    1998     1.049300
128    1999     1.151365
129    2000     1.184826
130    2001     1.134789
131    2002     1.052278
132    2003     1.081404
133    2004     1.130548
134    2005     1.044427
135    2006     1.120579
136    2007     1.027342
137    2008     1.012554
138    2009     1.048669
139    2010     0.958704
140    2011     0.941202
141    2012     1.024234
142    2013     0.960958
143    2014     0.863812
144    2015     1.017816
145    2016     1.165880
146    2017     1.270199

[147 rows x 2 columns]

## <font color="blue"> Key for Problem 4</font>

## Task 2

For each year, determine the team that had the most home runs (using the `Pitching.csv` file).

## <font color="red"> Problem 5 </font>

Solve **Task 2** with the framework of your choice.

In [66]:
top_team_hrs = (pitching 
               >>select(X.HR, X.IPouts, X.yearID, X.teamID)
               >>group_by(X.yearID, X.teamID)
               >>summarise(total_hr = X.HR.sum())
               >>ungroup
               >> group_by(X.yearID)
               >>filter_by(X.total_hr == colmax(X.total_hr))
              )
top_team_hrs

     teamID  yearID  total_hr
2       CL1    1871        13
10      BR1    1872         7
28      WS5    1873        11
30      BR2    1874        15
37      BR2    1875         6
45      PH2    1875         6
49      WS6    1875         6
52      CN1    1876         9
59      CHN    1877         7
64      BSN    1878         6
77      TRN    1879        13
85      WOR    1880        13
88      CHN    1881        14
98      CL2    1882        22
115     DTN    1883        22
119     PH4    1883        22
131     CHN    1884        83
161     CHN    1885        37
176     CHN    1886        49
196     IN3    1887        60
212     IN3    1888        64
228     IN3    1889        73
237     BFP    1890        67
266     CHN    1891        53
279     BLN    1892        51
293     BSN    1893        66
305     BSN    1894        89
325     SLN    1895        64
329     BSN    1896        57
349     SLN    1897        54
...     ...     ...       ...
2029    DET    1989       150
2036    NYA    1989       150
2054    CLE    1990       163
2090    OAK    1991       155
2106    CLE    1992       159
2134    DET    1993       188
2179    TEX    1994       157
2195    MIN    1995       210
2218    DET    1996       241
2237    ANA    1997       202
2270    CHA    1998       211
2304    COL    1999       237
2338    KCA    2000       239
2364    COL    2001       239
2394    COL    2002       225
2430    MIL    2003       219
2452    CIN    2004       236
2481    CIN    2005       219
2507    BAL    2006       216
2546    HOU    2007       206
2571    CIN    2008       201
2597    BAL    2009       218
2625    ARI    2010       210
2657    BAL    2011       210
2713    TOR    2012       204
2717    BAL    2013       202
2753    COL    2014       173
2784    DET    2015       193
2811    CIN    2016       258
2841    CIN    2017       248

[156 rows x 3 columns]