# Project 1 Part 4 - Creating a master parcel database

In this part of the project, we will use Python to read, process, and double all of the parcel data into a database.  Note that this is not our only alternative, and in Project 1 Part 4 b, we will look at another alternative, that is reading all the of original, raw files into their own database table, then using SQL to join/link/aggregate the tables.

## Chunking Files in Pandas – Part 1 (20 Points)

In this part of the project, you will use `Panda`’s to process the data from the MinneMUDAC 2016 competition Dive into Water Data.  The data can be found at the [MinneMUDAC site](http://minneanalytics.org/minnemudac/data/).  You should document your work in a Jupyter notebook, which will be used to submit your solution.  **For the rest of the parts of this project, we will limit ourselves to the years 2004-2014.**

1. Remind me why we want to skip 2003.

There was not a lot of matching things in it so it made the union smaller

2. Import the common columns list and translation dictionaries from the `.py` file you created in the last part of the project.

In [1]:
from project_data_Quam import *

3. Use glob and a list comprehension to get a list of file names for the years 2004-2014.

In [2]:
from glob import glob
bad_files = ['./MinneMUDAC_raw_files/2002_metro_tax_parcels.txt', 
             './MinneMUDAC_raw_files/2003_metro_tax_parcels.txt', 
             './MinneMUDAC_raw_files/2015_metro_tax_parcels.txt',
             './MinneMUDAC_raw_files/2016_metro_tax_parcels.txt']

In [3]:
files = [file for file in glob('./MinneMUDAC_raw_files/20**_metro_tax_parcels.txt') if file not in bad_files ]
files[:2]

['./MinneMUDAC_raw_files/2009_metro_tax_parcels.txt',
 './MinneMUDAC_raw_files/2007_metro_tax_parcels.txt']

4. Use the first chunk of the first file to prototype an expression that <br>
    a. Selects the common columns <br>
    b. Fixes any issues with the column names <br>
    c. Changes columns to the correct types (if necessary).  More information about the columns can be found [here](ftp://ftp.gisdata.mn.gov/pub/gdrs/data/pub/us_mn_state_metrogis/plan_regonal_prcls_open/metadata/metadata.html). It is **imperative** that you keep the lat and long columns as strings. <br>
    d. Use the translation dictionaries from the last part to add three new columns to the chunk: lake code, lake name, parcel distance to the lake.
    e. Filters to only properties that are within 1600 m (~1 mile) of the closest lake.

In [4]:
dtypes_dict = {'centroid_lat': str,
               'centroid_long': str}

In [5]:
import pandas as pd
from toolz import first
example_iter = pd.read_csv("./MinneMUDAC_raw_files/2005_metro_tax_parcels.txt", sep= "|", chunksize= 500, dtype=dtypes_dict)
example_chunk = first(example_iter)
len(example_chunk.columns)

70

In [6]:
string_types = {col: str for col in example_chunk.columns}
string_types

{'ACRES_DEED': str,
 'ACRES_POLY': str,
 'AGPRE_ENRD': str,
 'AGPRE_EXPD': str,
 'AG_PRESERV': str,
 'BASEMENT': str,
 'BLDG_NUM': str,
 'BLOCK': str,
 'CITY': str,
 'CITY_USPS': str,
 'COOLING': str,
 'COUNTY_ID': str,
 'DWELL_TYPE': str,
 'EMV_BLDG': str,
 'EMV_LAND': str,
 'EMV_TOTAL': str,
 'FIN_SQ_FT': str,
 'GARAGE': str,
 'GARAGESQFT': str,
 'GREEN_ACRE': str,
 'HEATING': str,
 'HOMESTEAD': str,
 'HOME_STYLE': str,
 'LANDMARK': str,
 'LOT': str,
 'MULTI_USES': str,
 'NUM_UNITS': str,
 'OPEN_SPACE': str,
 'OWNER_MORE': str,
 'OWNER_NAME': str,
 'OWN_ADD_L1': str,
 'OWN_ADD_L2': str,
 'OWN_ADD_L3': str,
 'PARC_CODE': str,
 'PIN': str,
 'PLAT_NAME': str,
 'PREFIXTYPE': str,
 'PREFIX_DIR': str,
 'SALE_DATE': str,
 'SALE_VALUE': str,
 'SCHOOL_DST': str,
 'SPEC_ASSES': str,
 'STREETNAME': str,
 'STREETTYPE': str,
 'SUFFIX_DIR': str,
 'Shape_Area': str,
 'Shape_Leng': str,
 'TAX_ADD_L1': str,
 'TAX_ADD_L2': str,
 'TAX_ADD_L3': str,
 'TAX_CAPAC': str,
 'TAX_EXEMPT': str,
 'TAX_NAME': str,
 'TOTAL_TAX': str,
 'UNIT_INFO': str,
 'USE1_DESC': str,
 'USE2_DESC': str,
 'USE3_DESC': str,
 'USE4_DESC': str,
 'WSHD_DIST': str,
 'XUSE1_DESC': str,
 'XUSE2_DESC': str,
 'XUSE3_DESC': str,
 'XUSE4_DESC': str,
 'YEAR_BUILT': str,
 'Year': str,
 'ZIP': str,
 'ZIP4': str,
 'centroid_long': str,
 'centroid_lat': str}

In [7]:
from project_cols_to_keep_and_drop import *

In [8]:
from dfply import *
from more_dfply import recode, ifelse
df_ll = (example_chunk
         >> select(cols_to_keep)
         >> mutate(lat_long = pd.Series(zip(example_chunk.centroid_lat, example_chunk.centroid_long)))
         >> mutate(lake_name = recode(X.lat_long, lat_long_name_dict),
                   lake_code = recode(X.lat_long, lat_long_code_dict),
                   distance = recode(X.lat_long, lat_long_dist))
         >> filter_by(~X.lake_name.isna())
         >> filter_by(X.distance <= 1600)
        )
df_ll

Empty DataFrame
Columns: [ACRES_DEED, ACRES_POLY, AGPRE_ENRD, AG_PRESERV, BASEMENT, CITY, COOLING, DWELL_TYPE, EMV_BLDG, EMV_LAND, FIN_SQ_FT, GARAGE, GARAGESQFT, GREEN_ACRE, HOMESTEAD, LANDMARK, OWN_ADD_L1, OWN_ADD_L2, OWN_ADD_L3, PARC_CODE, PIN, SALE_VALUE, SPEC_ASSES, TAX_CAPAC, TAX_EXEMPT, TOTAL_TAX, USE1_DESC, USE2_DESC, USE3_DESC, USE4_DESC, WSHD_DIST, XUSE1_DESC, XUSE2_DESC, XUSE3_DESC, XUSE4_DESC, YEAR_BUILT, Year, centroid_lat, centroid_long, lat_long, lake_name, lake_code, distance]
Index: []

[0 rows x 43 columns]

In [9]:
len(lat_long_name_dict)

2300453

5. Now convert your expression from the last problem to a function and test that this function works on the first few chunks of each file.

In [10]:
from functoolz import pipeable
read_parcel = lambda path: pd.read_csv(path, sep= "|", chunksize= 50000, dtype=string_types)

In [28]:
add_name_code_dist = pipeable(lambda chunk:(chunk
                                            >> select(cols_to_keep)
                                            >> mutate(lat_long = pd.Series(zip(chunk.centroid_lat, chunk.centroid_long)))
                                            >> mutate(lake_name = recode(X.lat_long, lat_long_name_dict),
                                                      lake_code = recode(X.lat_long, lat_long_code_dict),
                                                      distance = recode(X.lat_long, lat_long_dist))
                                            >> drop(X.lat_long)
                                            >> filter_by(~X.lake_name.isna())
                                            >> filter_by(~X.distance.astype(float).isna())
                                            >> filter_by(X.distance.astype(float) <= 1600)))

In [12]:
ex = read_parcel(files[3])

In [12]:
poo =next(ex)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (37,54,66) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
poo

,ACRES_DEED,ACRES_POLY,AGPRE_ENRD,AGPRE_EXPD,AG_PRESERV,BASEMENT,BLDG_NUM,BLOCK,CITY,CITY_USPS,...,XUSE1_DESC,XUSE2_DESC,XUSE3_DESC,XUSE4_DESC,YEAR_BUILT,Year,ZIP,ZIP4,centroid_long,centroid_lat
0,0.0,8.03,NaN,NaN,N,N,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,1980.0,2005,NaN,NaN,-93.26739,45.41332
1,0.0,0.93,NaN,NaN,N,Y,24457.0,NaN,ST FRANCIS,BETHEL,...,NaN,NaN,NaN,NaN,1974.0,2005,55005,9547.0,-93.2701,45.41354
2,0.0,8.75,NaN,NaN,N,Y,24442.0,NaN,ST FRANCIS,BETHEL,...,NaN,NaN,NaN,NaN,1969.0,2005,55005,9547.0,-93.27344,45.41318
3,0.0,11.17,NaN,NaN,N,N,410.0,NaN,ST FRANCIS,BETHEL,...,NaN,NaN,NaN,NaN,1989.0,2005,55005,9404.0,-93.27684,45.41167
4,0.0,14.46,NaN,NaN,N,Y,480.0,NaN,ST FRANCIS,BETHEL,...,NaN,NaN,NaN,NaN,1995.0,2005,55070,9404.0,-93.27849,45.41169
5,0.0,82.14,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.29885,45.40981
6,0.0,4.69,NaN,NaN,N,Y,532.0,NaN,ST FRANCIS,ST FRANCIS,...,NaN,NaN,NaN,NaN,2004.0,2005,NaN,5070.0,-93.27973,45.41172
7,0.0,4.59,NaN,NaN,N,Y,550.0,NaN,ST FRANCIS,ISANTI,...,NaN,NaN,NaN,NaN,1969.0,2005,55040,4552.0,-93.28033,45.41168
8,0.0,4.28,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.28091,45.4117
9,0.0,38.17,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.28364,45.41162
10,0.0,41.83,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.30398,45.4117
11,0.0,4.49,NaN,NaN,N,Y,24485.0,1,ST FRANCIS,SAINT FRANCIS,...,NaN,NaN,NaN,NaN,1985.0,2005,55070,8603.0,-93.3182,45.41316
12,0.0,4.62,NaN,NaN,N,Y,24464.0,1,ST FRANCIS,SAINT FRANCIS,...,NaN,NaN,NaN,NaN,1995.0,2005,55070,8603.0,-93.32075,45.41317
13,0.0,14.95,NaN,NaN,N,Y,24443.0,NaN,ST FRANCIS,SAINT FRANCIS,...,NaN,NaN,NaN,NaN,1974.0,2005,55070,9594.0,-93.32399,45.41282
14,0.0,36.37,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.2885,45.41162
15,0.0,32.95,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.29374,45.41189
16,0.0,1.15,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.33711,45.41192
17,0.0,39.65,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.33971,45.4118
18,0.0,41.10,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.34476,45.41176
19,0.0,33.03,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.34958,45.41145
20,0.0,1.05,NaN,NaN,N,Y,24491.0,1,ST FRANCIS,ISANTI,...,NaN,NaN,NaN,NaN,1997.0,2005,NaN,4358.0,-93.35106,45.41341
21,0.0,1.64,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.35273,45.41325
22,0.0,1.36,NaN,NaN,N,Y,3419.0,NaN,ST FRANCIS,ISANTI,...,NaN,NaN,NaN,NaN,1969.0,2005,55040,4338.0,-93.35355,45.41328
23,0.0,0.29,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.35405,45.41329
24,0.0,1.55,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.35477,45.41338
25,0.0,2.02,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,ST FRANCIS,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,5070.0,-93.35648,45.41341
26,0.0,13.56,NaN,NaN,N,Y,4559.0,NaN,ST FRANCIS,SAINT FRANCIS,...,NaN,NaN,NaN,NaN,1970.0,2005,55070,9714.0,-93.38256,45.40979
27,0.0,18.49,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.37909,45.41124
28,0.0,8.45,NaN,NaN,N,NaN,NaN,NaN,ST FRANCIS,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.37714,45.41178
29,0.0,8.16,NaN,NaN,N,Y,24476.0,NaN,ST FRANCIS,SAINT FRANCIS,...,NaN,NaN,NaN,NaN,1994.0,2005,55070,9602.0,-93.37066,45.41319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,0.0,0.98,NaN,NaN,N,NaN,NaN,1,LINO LAKES,NaN,...,NaN,NaN,NaN,NaN,0.0,2005,NaN,NaN,-93.12947,45.13249
49971,0.0,1.52,NaN,NaN,N,Y,6231.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1979.0,2005,55014,1446.0,-93.13185,45.1325
49972,0.0,1.07,NaN,NaN,N,Y,707.0,2,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1979.0,2005,55014,1436.0,-93.10611,45.13187
49973,0.0,0.36,NaN,NaN,N,Y,6231.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1996.0,2005,55014,6403.0,-93.12342,45.1324
49974,0.0,0.42,NaN,NaN,N,Y,333.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1996.0,2005,55014,6400.0,-93.1242,45.13223
49975,0.0,0.34,NaN,NaN,N,Y,327.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1995.0,2005,55014,6400.0,-93.1246,45.13218
49976,0.0,0.48,NaN,NaN,N,Y,321.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1995.0,2005,55014,6400.0,-93.12495,45.13213
49977,0.0,0.37,NaN,NaN,N,Y,304.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1996.0,2005,55014,6402.0,-93.12544,45.13229
49978,0.0,0.55,NaN,NaN,N,Y,6213.0,4,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1998.0,2005,NaN,5496.0,-93.11602,45.13216
49979,0.0,0.35,NaN,NaN,N,Y,6214.0,3,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1998.0,2005,NaN,5496.0,-93.11512,45.13217
49980,0.0,0.43,NaN,NaN,N,Y,6218.0,3,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1998.0,2005,55014,5495.0,-93.11681,45.13213
49981,0.0,0.77,NaN,NaN,N,Y,6213.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1997.0,2005,55014,5499.0,-93.11971,45.1322
49982,0.0,0.43,NaN,NaN,N,Y,6217.0,3,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1998.0,2005,55014,5495.0,-93.11779,45.13219
49983,0.0,0.48,NaN,NaN,N,Y,6214.0,3,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1997.0,2005,55014,5499.0,-93.1185,45.13217
49984,0.0,0.27,NaN,NaN,N,Y,6224.0,2,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1995.0,2005,55014,6403.0,-93.12264,45.13218
49985,0.0,0.71,NaN,NaN,N,Y,339.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1995.0,2005,55014,6400.0,-93.12386,45.13197
49986,0.0,0.55,NaN,NaN,N,Y,239.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1974.0,2005,55014,1413.0,-93.12903,45.13219
49987,0.0,0.63,NaN,NaN,N,Y,235.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1950.0,2005,55014,1413.0,-93.12987,45.13219
49988,0.0,1.11,NaN,NaN,N,Y,6205.0,2,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1979.0,2005,55014,1407.0,-93.10544,45.13183
49989,0.0,1.58,NaN,NaN,N,Y,6221.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1934.0,2005,55014,1446.0,-93.13185,45.13222
49990,0.0,0.27,NaN,NaN,N,Y,6225.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1997.0,2005,55014,6403.0,-93.12333,45.13219
49991,0.0,1.30,NaN,NaN,N,Y,6294.0,4,LINO LAKES,SAINT PAUL,...,NaN,NaN,NaN,NaN,1998.0,2005,NaN,1016.0,-93.04195,45.13116
49992,0.0,0.57,NaN,NaN,N,Y,6212.0,3,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1998.0,2005,55014,5495.0,-93.11681,45.13175
49993,0.0,0.18,NaN,NaN,N,Y,315.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1996.0,2005,55014,6400.0,-93.12529,45.132
49994,0.0,0.23,NaN,NaN,N,Y,309.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1997.0,2005,55014,6400.0,-93.12563,45.13202
49995,0.0,0.85,NaN,NaN,N,Y,6211.0,3,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,2001.0,2005,55014,5495.0,-93.11783,45.13177
49996,0.0,0.75,NaN,NaN,N,Y,6206.0,3,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1999.0,2005,55014,5495.0,-93.11728,45.13165
49997,0.0,0.38,NaN,NaN,N,Y,6208.0,3,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1998.0,2005,NaN,5496.0,-93.11512,45.13187
49998,0.0,0.58,NaN,NaN,N,Y,6208.0,3,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,2000.0,2005,55014,5499.0,-93.11858,45.13188
49999,0.0,0.80,NaN,NaN,N,Y,6207.0,1,LINO LAKES,CIRCLE PINES,...,NaN,NaN,NaN,NaN,1998.0,2005,55014,5499.0,-93.11976,45.1319

In [14]:
example_file = add_name_code_dist(next(ex))
example_file

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Empty DataFrame
Columns: [ACRES_DEED, ACRES_POLY, AGPRE_ENRD, AG_PRESERV, BASEMENT, CITY, COOLING, DWELL_TYPE, EMV_BLDG, EMV_LAND, FIN_SQ_FT, GARAGE, GARAGESQFT, GREEN_ACRE, HOMESTEAD, LANDMARK, OWN_ADD_L1, OWN_ADD_L2, OWN_ADD_L3, PARC_CODE, PIN, SALE_VALUE, SPEC_ASSES, TAX_CAPAC, TAX_EXEMPT, TOTAL_TAX, USE1_DESC, USE2_DESC, USE3_DESC, USE4_DESC, WSHD_DIST, XUSE1_DESC, XUSE2_DESC, XUSE3_DESC, XUSE4_DESC, YEAR_BUILT, Year, centroid_lat, centroid_long, lat_long, lake_name, lake_code, distance]
Index: []

[0 rows x 43 columns]

6. We need to make a unique primary key for each row in the combined parcel file.<br>
    a. There is a column that appears to be a unique parcel id.  Double check that this is a true primary key for each individual file. (To do this you need to verify that the number of unique values is the same as the number of rows for each of the parcel files.  **Hint:** For each file, use of the accumulator pattern with two accumualtors (one number and one data frame). <br>
    b. Explain why this column will not work as a primary key if we want to combine all years in one database. <br>
    c. Suppose we make a new column that consist of `str(year) + '-' + PID`.  Explain why this should make a proper primary key for the combined data. <br>

In [13]:
from project_cols_to_keep_and_drop import *

In [14]:
cols_to_keep

['ACRES_DEED',
 'ACRES_POLY',
 'AGPRE_ENRD',
 'AG_PRESERV',
 'BASEMENT',
 'CITY',
 'COOLING',
 'DWELL_TYPE',
 'EMV_BLDG',
 'EMV_LAND',
 'FIN_SQ_FT',
 'GARAGE',
 'GARAGESQFT',
 'GREEN_ACRE',
 'HOMESTEAD',
 'LANDMARK',
 'OWN_ADD_L1',
 'OWN_ADD_L2',
 'OWN_ADD_L3',
 'PARC_CODE',
 'PIN',
 'SALE_VALUE',
 'SPEC_ASSES',
 'TAX_CAPAC',
 'TAX_EXEMPT',
 'TOTAL_TAX',
 'USE1_DESC',
 'USE2_DESC',
 'USE3_DESC',
 'USE4_DESC',
 'WSHD_DIST',
 'XUSE1_DESC',
 'XUSE2_DESC',
 'XUSE3_DESC',
 'XUSE4_DESC',
 'YEAR_BUILT',
 'Year',
 'centroid_lat',
 'centroid_long']

In [17]:
unique_pins = set([])
rows = 0
for file in files:
    print("\n\n\n Starting to process " + file)
    for i, chunk in enumerate(read_parcel(file)):
        #processed_chunk = add_name_code_dist(chunk)
        rows = rows + len(chunk.PIN)
        unique_pins = unique_pins.union(chunk.PIN)
        print("On chunk" + str(i) + " : amount of unique pins = " + str(len(unique_pins)) + " ,     total amount = " + str(rows))

 Starting to process ./MinneMUDAC_raw_files/2009_metro_tax_parcels.txt

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk0 : amount of unique pins = 49728 ,     total amount = 50000

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk1 : amount of unique pins = 99299 ,     total amount = 100000

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5,7,10,12,19,21,26,27,31,32,33,34,39,51,56,58,59,60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk2 : amount of unique pins = 149165 ,     total amount = 150000

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,3,6,10,12,17,21,25,28,29,30,31,32,33,34,37,38,39,49,50,54,56,59,60,62,63,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk3 : amount of unique pins = 199160 ,     total amount = 200000

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (28,38,39,56,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk4 : amount of unique pins = 249160 ,     total amount = 250000

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6,28,38,39,56,60,63,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk5 : amount of unique pins = 299160 ,     total amount = 300000

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,3,5,10,12,17,21,25,27,28,30,32,33,34,37,38,39,45,46,49,50,51,54,58,59,60,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk6 : amount of unique pins = 349159 ,     total amount = 350000

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5,56,59,60,63) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk7 : amount of unique pins = 399159 ,     total amount = 400000

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (56,60,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk8 : amount of unique pins = 449159 ,     total amount = 450000

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6,56,59,60,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk9 : amount of unique pins = 499159 ,     total amount = 500000

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6,56,60,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk10 : amount of unique pins = 549159 ,     total amount = 550000

KeyboardInterrupt:

7. Make a function to add the key suggested in the last problem (`str(year) + '-' + PID`) to a given chunk.

In [ ]:
example_chunk.dtypes['PIN']

In [29]:
add_primary_key = pipeable(lambda start, df: (df
                                              >> mutate(id = np.arange(start, start + len(df))
                                              )))

#### Note: If you are clever, you can do parts 8 in one double loop, which will save you from having to read the parcel files twice.

8. It is probably worth our time to test that our new key column is truely unique. (If not, we might be wasting out time loading the data into a database, only to have process fail hours in.) Test that the new column works by <br>
    a. Iterating over all the files.<br>
    b. Using an accumulator to count total number of rows across all parcel files. <br>
    c. Using an accumulator to accumulate a set of all unique values of our new key. <br>
    d. Verifying that we have as many total rows as unique keys.
    a. Selecting just this column. <br>
    b. Dumping this column into a temporary database <br>

In [19]:
unique_ids = set([])
rows = 0
rows_so_far = 0
#for file in files:
 #   print("\n\n\n Starting to process " + file)
  #  c = 0
   # for i, chunk in enumerate(read_parcel(file)):
    #    while c <= 2 :
     #       c = c+1
      #      processed_chunk = add_primary_key(rows_so_far,chunk)
       #     rows = rows + len(processed_chunk.id)
        #    unique_ids = unique_ids.union(processed_chunk.id)
         #   print("On chunk" + str(i) + " : amount of unique ids = " + str(len(unique_ids)) + " ,     total amount = " + str(rows))
          #  rows_so_far = rows_so_far + len(chunk)

In [ ]:
add_primary_key(0,example_chunk)

In [ ]:
example_chunk.AGPRE_ENRD

In [30]:
from project_raw_sql_parsel_types import *

9. If the last step succeeded, you can proceed to make a master parcel data database.  If not, you will need to figure out another primary key, probably an `id` column similar to the example in the lectures.

In [31]:
!rm ./databases/parcel.db

In [32]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///databases/parcel.db', echo=False)

In [33]:
from toolz import first
import pandas as pd
complete_first_chunk = add_primary_key(0,add_name_code_dist(first(read_parcel(files[0]))))

In [34]:
schema = pd.io.sql.get_schema(complete_first_chunk, # dataframe
                              'parcel', # name in SQL db
                              keys='id', # primary key
                              con=engine, # connection
                              dtype=common_parcel_types # SQL types
)
print(schema)
engine.execute(schema)

CREATE TABLE parcel (
	"ACRES_DEED" VARCHAR,
	"ACRES_POLY" VARCHAR,
	"AGPRE_ENRD" VARCHAR,
	"AG_PRESERV" VARCHAR,
	"BASEMENT" VARCHAR,
	"CITY" VARCHAR,
	"COOLING" VARCHAR,
	"DWELL_TYPE" VARCHAR,
	"EMV_BLDG" VARCHAR,
	"EMV_LAND" VARCHAR,
	"FIN_SQ_FT" VARCHAR,
	"GARAGE" VARCHAR,
	"GARAGESQFT" VARCHAR,
	"GREEN_ACRE" VARCHAR,
	"HOMESTEAD" VARCHAR,
	"LANDMARK" VARCHAR,
	"OWN_ADD_L1" VARCHAR,
	"OWN_ADD_L2" VARCHAR,
	"OWN_ADD_L3" VARCHAR,
	"PARC_CODE" VARCHAR,
	"PIN" VARCHAR,
	"SALE_VALUE" VARCHAR,
	"SPEC_ASSES" VARCHAR,
	"TAX_CAPAC" VARCHAR,
	"TAX_EXEMPT" VARCHAR,
	"TOTAL_TAX" VARCHAR,
	"USE1_DESC" VARCHAR,
	"USE2_DESC" VARCHAR,
	"USE3_DESC" VARCHAR,
	"USE4_DESC" VARCHAR,
	"WSHD_DIST" VARCHAR,
	"XUSE1_DESC" VARCHAR,
	"XUSE2_DESC" VARCHAR,
	"XUSE3_DESC" VARCHAR,
	"XUSE4_DESC" VARCHAR,
	"YEAR_BUILT" VARCHAR,
	"Year" VARCHAR,
	centroid_lat VARCHAR,
	centroid_long VARCHAR,
	lake_name TEXT,
	lake_code TEXT,
	distance FLOAT,
	id BIGINT NOT NULL,
	CONSTRAINT parcel_pk PRIMARY KEY (id)
)

In [21]:
unique_ids = set([])
rows = 0
rows_so_far = 0
for file in files:
    print("\n\n\n Starting to process " + file)
    for i, chunk in enumerate(read_parcel(file)):
        processed_chunk = add_primary_key(rows_so_far,chunk)
        rows = rows + len(processed_chunk.id)
        unique_ids = unique_ids.union(processed_chunk.id)
        print("On chunk" + str(i) + " : amount of unique ids = " + str(len(unique_ids)) + " ,     total amount = " + str(rows))
        rows_so_far = rows_so_far + len(chunk)

 Starting to process ./MinneMUDAC_raw_files/2009_metro_tax_parcels.txt
On chunk0 : amount of unique ids = 50000 ,     total amount = 50000
On chunk1 : amount of unique ids = 100000 ,     total amount = 100000
On chunk2 : amount of unique ids = 150000 ,     total amount = 150000
On chunk3 : amount of unique ids = 200000 ,     total amount = 200000
On chunk4 : amount of unique ids = 250000 ,     total amount = 250000
On chunk5 : amount of unique ids = 300000 ,     total amount = 300000

KeyboardInterrupt:

In [38]:
rows_so_far = len(complete_first_chunk)
for file in files:
    print("\n\n\n Starting to process " + file)
    for i, chunk in enumerate(read_parcel(file)):
        processed_chunk = add_primary_key(rows_so_far,add_name_code_dist(chunk))
        processed_chunk.to_sql('parcel', 
                               con=engine, 
                               dtype=common_parcel_types, 
                               index=False,
                               if_exists='append')
        rows_so_far = rows_so_far + len(chunk)
        print("On chunk" + str(i) + " : amount of unique ids = " + str(rows_so_far))

 Starting to process ./MinneMUDAC_raw_files/2009_metro_tax_parcels.txt
On chunk0 : amount of unique ids = 62458
On chunk1 : amount of unique ids = 112458
On chunk2 : amount of unique ids = 162458
On chunk3 : amount of unique ids = 212458
On chunk4 : amount of unique ids = 262458
On chunk5 : amount of unique ids = 312458
On chunk6 : amount of unique ids = 362458
On chunk7 : amount of unique ids = 412458
On chunk8 : amount of unique ids = 462458
On chunk9 : amount of unique ids = 512458
On chunk10 : amount of unique ids = 562458
On chunk11 : amount of unique ids = 612458
On chunk12 : amount of unique ids = 662458
On chunk13 : amount of unique ids = 712458
On chunk14 : amount of unique ids = 762458
On chunk15 : amount of unique ids = 812458
On chunk16 : amount of unique ids = 862458
On chunk17 : amount of unique ids = 912458
On chunk18 : amount of unique ids = 962458
On chunk19 : amount of unique ids = 1012458
On chunk20 : amount of unique ids = 1062458
On chunk21 : amount of unique ids = 1112458
On chunk22 : amount of unique ids = 1162458

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk23 : amount of unique ids = 1212458

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk24 : amount of unique ids = 1262458
On chunk25 : amount of unique ids = 1312458
On chunk26 : amount of unique ids = 1362458
On chunk27 : amount of unique ids = 1412458
On chunk28 : amount of unique ids = 1462458
On chunk29 : amount of unique ids = 1512458
On chunk30 : amount of unique ids = 1562458
On chunk31 : amount of unique ids = 1612458
On chunk32 : amount of unique ids = 1662458
On chunk33 : amount of unique ids = 1712458
On chunk34 : amount of unique ids = 1762458
On chunk35 : amount of unique ids = 1812458
On chunk36 : amount of unique ids = 1862458
On chunk37 : amount of unique ids = 1912458
On chunk38 : amount of unique ids = 1962458
On chunk39 : amount of unique ids = 2012458
On chunk40 : amount of unique ids = 2062458
On chunk41 : amount of unique ids = 2100676



 Starting to process ./MinneMUDAC_raw_files/2007_metro_tax_parcels.txt
On chunk0 : amount of unique ids = 2150676
On chunk1 : amount of unique ids = 2200676
On chunk2 : amount of unique ids = 2250676
On chunk3 : amount of unique ids = 2300676
On chunk4 : amount of unique ids = 2350676
On chunk5 : amount of unique ids = 2400676
On chunk6 : amount of unique ids = 2450676
On chunk7 : amount of unique ids = 2500676
On chunk8 : amount of unique ids = 2550676
On chunk9 : amount of unique ids = 2600676
On chunk10 : amount of unique ids = 2650676
On chunk11 : amount of unique ids = 2700676
On chunk12 : amount of unique ids = 2750676
On chunk13 : amount of unique ids = 2800676
On chunk14 : amount of unique ids = 2850676
On chunk15 : amount of unique ids = 2900676
On chunk16 : amount of unique ids = 2950676
On chunk17 : amount of unique ids = 3000676
On chunk18 : amount of unique ids = 3050676
On chunk19 : amount of unique ids = 3100676
On chunk20 : amount of unique ids = 3150676
On chunk21 : amount of unique ids = 3200676
On chunk22 : amount of unique ids = 3250676

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk23 : amount of unique ids = 3300676

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk24 : amount of unique ids = 3350676
On chunk25 : amount of unique ids = 3400676
On chunk26 : amount of unique ids = 3450676
On chunk27 : amount of unique ids = 3500676
On chunk28 : amount of unique ids = 3550676
On chunk29 : amount of unique ids = 3600676
On chunk30 : amount of unique ids = 3650676
On chunk31 : amount of unique ids = 3700676
On chunk32 : amount of unique ids = 3750676
On chunk33 : amount of unique ids = 3800676
On chunk34 : amount of unique ids = 3850676
On chunk35 : amount of unique ids = 3900676
On chunk36 : amount of unique ids = 3950676
On chunk37 : amount of unique ids = 4000676
On chunk38 : amount of unique ids = 4050676
On chunk39 : amount of unique ids = 4100676
On chunk40 : amount of unique ids = 4126159



 Starting to process ./MinneMUDAC_raw_files/2011_metro_tax_parcels.txt
On chunk0 : amount of unique ids = 4176159
On chunk1 : amount of unique ids = 4226159
On chunk2 : amount of unique ids = 4276159
On chunk3 : amount of unique ids = 4326159
On chunk4 : amount of unique ids = 4376159
On chunk5 : amount of unique ids = 4426159
On chunk6 : amount of unique ids = 4476159
On chunk7 : amount of unique ids = 4526159
On chunk8 : amount of unique ids = 4576159
On chunk9 : amount of unique ids = 4626159
On chunk10 : amount of unique ids = 4676159
On chunk11 : amount of unique ids = 4726159
On chunk12 : amount of unique ids = 4776159
On chunk13 : amount of unique ids = 4826159
On chunk14 : amount of unique ids = 4876159
On chunk15 : amount of unique ids = 4926159
On chunk16 : amount of unique ids = 4976159
On chunk17 : amount of unique ids = 5026159
On chunk18 : amount of unique ids = 5076159
On chunk19 : amount of unique ids = 5126159
On chunk20 : amount of unique ids = 5176159
On chunk21 : amount of unique ids = 5226159
On chunk22 : amount of unique ids = 5276159
On chunk23 : amount of unique ids = 5326159
On chunk24 : amount of unique ids = 5376159
On chunk25 : amount of unique ids = 5426159
On chunk26 : amount of unique ids = 5476159
On chunk27 : amount of unique ids = 5526159
On chunk28 : amount of unique ids = 5576159
On chunk29 : amount of unique ids = 5626159
On chunk30 : amount of unique ids = 5676159
On chunk31 : amount of unique ids = 5726159
On chunk32 : amount of unique ids = 5776159
On chunk33 : amount of unique ids = 5826159
On chunk34 : amount of unique ids = 5876159
On chunk35 : amount of unique ids = 5926159
On chunk36 : amount of unique ids = 5976159
On chunk37 : amount of unique ids = 6026159
On chunk38 : amount of unique ids = 6076159
On chunk39 : amount of unique ids = 6126159
On chunk40 : amount of unique ids = 6176159
On chunk41 : amount of unique ids = 6226159
On chunk42 : amount of unique ids = 6226854



 Starting to process ./MinneMUDAC_raw_files/2005_metro_tax_parcels.txt
On chunk0 : amount of unique ids = 6276854
On chunk1 : amount of unique ids = 6326854
On chunk2 : amount of unique ids = 6376854
On chunk3 : amount of unique ids = 6426854
On chunk4 : amount of unique ids = 6476854
On chunk5 : amount of unique ids = 6526854
On chunk6 : amount of unique ids = 6576854
On chunk7 : amount of unique ids = 6626854
On chunk8 : amount of unique ids = 6676854
On chunk9 : amount of unique ids = 6726854
On chunk10 : amount of unique ids = 6776854
On chunk11 : amount of unique ids = 6826854
On chunk12 : amount of unique ids = 6876854
On chunk13 : amount of unique ids = 6926854
On chunk14 : amount of unique ids = 6976854
On chunk15 : amount of unique ids = 7026854
On chunk16 : amount of unique ids = 7076854
On chunk17 : amount of unique ids = 7126854
On chunk18 : amount of unique ids = 7176854
On chunk19 : amount of unique ids = 7226854
On chunk20 : amount of unique ids = 7276854
On chunk21 : amount of unique ids = 7326854
On chunk22 : amount of unique ids = 7376854
On chunk23 : amount of unique ids = 7426854
On chunk24 : amount of unique ids = 7476854
On chunk25 : amount of unique ids = 7526854
On chunk26 : amount of unique ids = 7576854
On chunk27 : amount of unique ids = 7626854
On chunk28 : amount of unique ids = 7676854
On chunk29 : amount of unique ids = 7726854
On chunk30 : amount of unique ids = 7776854
On chunk31 : amount of unique ids = 7826854
On chunk32 : amount of unique ids = 7876854
On chunk33 : amount of unique ids = 7926854
On chunk34 : amount of unique ids = 7976854
On chunk35 : amount of unique ids = 8026854
On chunk36 : amount of unique ids = 8076854
On chunk37 : amount of unique ids = 8126854
On chunk38 : amount of unique ids = 8176854
On chunk39 : amount of unique ids = 8195334



 Starting to process ./MinneMUDAC_raw_files/2013_metro_tax_parcels.txt
On chunk0 : amount of unique ids = 8245334
On chunk1 : amount of unique ids = 8295334
On chunk2 : amount of unique ids = 8345334
On chunk3 : amount of unique ids = 8395334
On chunk4 : amount of unique ids = 8445334
On chunk5 : amount of unique ids = 8495334
On chunk6 : amount of unique ids = 8545334
On chunk7 : amount of unique ids = 8595334
On chunk8 : amount of unique ids = 8645334
On chunk9 : amount of unique ids = 8695334
On chunk10 : amount of unique ids = 8745334
On chunk11 : amount of unique ids = 8795334
On chunk12 : amount of unique ids = 8845334
On chunk13 : amount of unique ids = 8895334
On chunk14 : amount of unique ids = 8945334
On chunk15 : amount of unique ids = 8995334
On chunk16 : amount of unique ids = 9045334
On chunk17 : amount of unique ids = 9095334
On chunk18 : amount of unique ids = 9145334
On chunk19 : amount of unique ids = 9195334
On chunk20 : amount of unique ids = 9245334
On chunk21 : amount of unique ids = 9295334
On chunk22 : amount of unique ids = 9345334
On chunk23 : amount of unique ids = 9395334
On chunk24 : amount of unique ids = 9445334
On chunk25 : amount of unique ids = 9495334
On chunk26 : amount of unique ids = 9545334
On chunk27 : amount of unique ids = 9595334
On chunk28 : amount of unique ids = 9645334
On chunk29 : amount of unique ids = 9695334
On chunk30 : amount of unique ids = 9745334
On chunk31 : amount of unique ids = 9795334
On chunk32 : amount of unique ids = 9845334
On chunk33 : amount of unique ids = 9895334
On chunk34 : amount of unique ids = 9945334
On chunk35 : amount of unique ids = 9995334
On chunk36 : amount of unique ids = 10045334
On chunk37 : amount of unique ids = 10095334
On chunk38 : amount of unique ids = 10145334
On chunk39 : amount of unique ids = 10195334
On chunk40 : amount of unique ids = 10245334
On chunk41 : amount of unique ids = 10295334
On chunk42 : amount of unique ids = 10302250



 Starting to process ./MinneMUDAC_raw_files/2014_metro_tax_parcels.txt
On chunk0 : amount of unique ids = 10352250
On chunk1 : amount of unique ids = 10402250
On chunk2 : amount of unique ids = 10452250
On chunk3 : amount of unique ids = 10502250
On chunk4 : amount of unique ids = 10552250
On chunk5 : amount of unique ids = 10602250
On chunk6 : amount of unique ids = 10652250
On chunk7 : amount of unique ids = 10702250
On chunk8 : amount of unique ids = 10752250
On chunk9 : amount of unique ids = 10802250
On chunk10 : amount of unique ids = 10852250
On chunk11 : amount of unique ids = 10902250
On chunk12 : amount of unique ids = 10952250
On chunk13 : amount of unique ids = 11002250
On chunk14 : amount of unique ids = 11052250
On chunk15 : amount of unique ids = 11102250
On chunk16 : amount of unique ids = 11152250
On chunk17 : amount of unique ids = 11202250
On chunk18 : amount of unique ids = 11252250
On chunk19 : amount of unique ids = 11302250
On chunk20 : amount of unique ids = 11352250
On chunk21 : amount of unique ids = 11402250
On chunk22 : amount of unique ids = 11452250
On chunk23 : amount of unique ids = 11502250
On chunk24 : amount of unique ids = 11552250
On chunk25 : amount of unique ids = 11602250
On chunk26 : amount of unique ids = 11652250

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (56) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk27 : amount of unique ids = 11702250
On chunk28 : amount of unique ids = 11752250
On chunk29 : amount of unique ids = 11802250
On chunk30 : amount of unique ids = 11852250
On chunk31 : amount of unique ids = 11902250
On chunk32 : amount of unique ids = 11952250
On chunk33 : amount of unique ids = 12002250
On chunk34 : amount of unique ids = 12052250
On chunk35 : amount of unique ids = 12102250

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (56) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk36 : amount of unique ids = 12152250
On chunk37 : amount of unique ids = 12202250
On chunk38 : amount of unique ids = 12252250
On chunk39 : amount of unique ids = 12302250
On chunk40 : amount of unique ids = 12352250
On chunk41 : amount of unique ids = 12402250
On chunk42 : amount of unique ids = 12418649



 Starting to process ./MinneMUDAC_raw_files/2008_metro_tax_parcels.txt
On chunk0 : amount of unique ids = 12468649
On chunk1 : amount of unique ids = 12518649
On chunk2 : amount of unique ids = 12568649
On chunk3 : amount of unique ids = 12618649
On chunk4 : amount of unique ids = 12668649
On chunk5 : amount of unique ids = 12718649
On chunk6 : amount of unique ids = 12768649
On chunk7 : amount of unique ids = 12818649
On chunk8 : amount of unique ids = 12868649
On chunk9 : amount of unique ids = 12918649
On chunk10 : amount of unique ids = 12968649
On chunk11 : amount of unique ids = 13018649
On chunk12 : amount of unique ids = 13068649
On chunk13 : amount of unique ids = 13118649
On chunk14 : amount of unique ids = 13168649
On chunk15 : amount of unique ids = 13218649
On chunk16 : amount of unique ids = 13268649
On chunk17 : amount of unique ids = 13318649
On chunk18 : amount of unique ids = 13368649
On chunk19 : amount of unique ids = 13418649
On chunk20 : amount of unique ids = 13468649
On chunk21 : amount of unique ids = 13518649
On chunk22 : amount of unique ids = 13568649
On chunk23 : amount of unique ids = 13618649

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk24 : amount of unique ids = 13668649

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk25 : amount of unique ids = 13718649
On chunk26 : amount of unique ids = 13768649
On chunk27 : amount of unique ids = 13818649
On chunk28 : amount of unique ids = 13868649
On chunk29 : amount of unique ids = 13918649
On chunk30 : amount of unique ids = 13968649
On chunk31 : amount of unique ids = 14018649
On chunk32 : amount of unique ids = 14068649
On chunk33 : amount of unique ids = 14118649
On chunk34 : amount of unique ids = 14168649
On chunk35 : amount of unique ids = 14218649
On chunk36 : amount of unique ids = 14268649
On chunk37 : amount of unique ids = 14318649
On chunk38 : amount of unique ids = 14368649
On chunk39 : amount of unique ids = 14418649
On chunk40 : amount of unique ids = 14468649
On chunk41 : amount of unique ids = 14518649
On chunk42 : amount of unique ids = 14528370



 Starting to process ./MinneMUDAC_raw_files/2010_metro_tax_parcels.txt
On chunk0 : amount of unique ids = 14578370
On chunk1 : amount of unique ids = 14628370
On chunk2 : amount of unique ids = 14678370
On chunk3 : amount of unique ids = 14728370
On chunk4 : amount of unique ids = 14778370
On chunk5 : amount of unique ids = 14828370
On chunk6 : amount of unique ids = 14878370
On chunk7 : amount of unique ids = 14928370
On chunk8 : amount of unique ids = 14978370
On chunk9 : amount of unique ids = 15028370
On chunk10 : amount of unique ids = 15078370
On chunk11 : amount of unique ids = 15128370
On chunk12 : amount of unique ids = 15178370
On chunk13 : amount of unique ids = 15228370
On chunk14 : amount of unique ids = 15278370
On chunk15 : amount of unique ids = 15328370
On chunk16 : amount of unique ids = 15378370
On chunk17 : amount of unique ids = 15428370
On chunk18 : amount of unique ids = 15478370
On chunk19 : amount of unique ids = 15528370
On chunk20 : amount of unique ids = 15578370
On chunk21 : amount of unique ids = 15628370
On chunk22 : amount of unique ids = 15678370

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk23 : amount of unique ids = 15728370

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On chunk24 : amount of unique ids = 15778370
On chunk25 : amount of unique ids = 15828370
On chunk26 : amount of unique ids = 15878370
On chunk27 : amount of unique ids = 15928370
On chunk28 : amount of unique ids = 15978370
On chunk29 : amount of unique ids = 16028370
On chunk30 : amount of unique ids = 16078370
On chunk31 : amount of unique ids = 16128370
On chunk32 : amount of unique ids = 16178370
On chunk33 : amount of unique ids = 16228370
On chunk34 : amount of unique ids = 16278370
On chunk35 : amount of unique ids = 16328370
On chunk36 : amount of unique ids = 16378370
On chunk37 : amount of unique ids = 16428370
On chunk38 : amount of unique ids = 16478370
On chunk39 : amount of unique ids = 16528370
On chunk40 : amount of unique ids = 16578370
On chunk41 : amount of unique ids = 16626168



 Starting to process ./MinneMUDAC_raw_files/2006_metro_tax_parcels.txt
On chunk0 : amount of unique ids = 16676168
On chunk1 : amount of unique ids = 16726168
On chunk2 : amount of unique ids = 16776168
On chunk3 : amount of unique ids = 16826168
On chunk4 : amount of unique ids = 16876168
On chunk5 : amount of unique ids = 16926168
On chunk6 : amount of unique ids = 16976168
On chunk7 : amount of unique ids = 17026168
On chunk8 : amount of unique ids = 17076168
On chunk9 : amount of unique ids = 17126168
On chunk10 : amount of unique ids = 17176168
On chunk11 : amount of unique ids = 17226168
On chunk12 : amount of unique ids = 17276168
On chunk13 : amount of unique ids = 17326168
On chunk14 : amount of unique ids = 17376168
On chunk15 : amount of unique ids = 17426168
On chunk16 : amount of unique ids = 17476168
On chunk17 : amount of unique ids = 17526168
On chunk18 : amount of unique ids = 17576168
On chunk19 : amount of unique ids = 17626168
On chunk20 : amount of unique ids = 17676168
On chunk21 : amount of unique ids = 17726168
On chunk22 : amount of unique ids = 17776168
On chunk23 : amount of unique ids = 17826168
On chunk24 : amount of unique ids = 17876168
On chunk25 : amount of unique ids = 17926168
On chunk26 : amount of unique ids = 17976168
On chunk27 : amount of unique ids = 18026168
On chunk28 : amount of unique ids = 18076168
On chunk29 : amount of unique ids = 18126168
On chunk30 : amount of unique ids = 18176168
On chunk31 : amount of unique ids = 18226168
On chunk32 : amount of unique ids = 18276168
On chunk33 : amount of unique ids = 18326168
On chunk34 : amount of unique ids = 18376168
On chunk35 : amount of unique ids = 18426168
On chunk36 : amount of unique ids = 18476168
On chunk37 : amount of unique ids = 18526168
On chunk38 : amount of unique ids = 18576168
On chunk39 : amount of unique ids = 18626168
On chunk40 : amount of unique ids = 18634091



 Starting to process ./MinneMUDAC_raw_files/2012_metro_tax_parcels.txt
On chunk0 : amount of unique ids = 18684091
On chunk1 : amount of unique ids = 18734091
On chunk2 : amount of unique ids = 18784091
On chunk3 : amount of unique ids = 18834091
On chunk4 : amount of unique ids = 18884091
On chunk5 : amount of unique ids = 18934091
On chunk6 : amount of unique ids = 18984091
On chunk7 : amount of unique ids = 19034091
On chunk8 : amount of unique ids = 19084091
On chunk9 : amount of unique ids = 19134091
On chunk10 : amount of unique ids = 19184091
On chunk11 : amount of unique ids = 19234091
On chunk12 : amount of unique ids = 19284091
On chunk13 : amount of unique ids = 19334091
On chunk14 : amount of unique ids = 19384091
On chunk15 : amount of unique ids = 19434091
On chunk16 : amount of unique ids = 19484091
On chunk17 : amount of unique ids = 19534091
On chunk18 : amount of unique ids = 19584091
On chunk19 : amount of unique ids = 19634091
On chunk20 : amount of unique ids = 19684091
On chunk21 : amount of unique ids = 19734091
On chunk22 : amount of unique ids = 19784091
On chunk23 : amount of unique ids = 19834091
On chunk24 : amount of unique ids = 19884091
On chunk25 : amount of unique ids = 19934091
On chunk26 : amount of unique ids = 19984091
On chunk27 : amount of unique ids = 20034091
On chunk28 : amount of unique ids = 20084091
On chunk29 : amount of unique ids = 20134091
On chunk30 : amount of unique ids = 20184091
On chunk31 : amount of unique ids = 20234091
On chunk32 : amount of unique ids = 20284091
On chunk33 : amount of unique ids = 20334091
On chunk34 : amount of unique ids = 20384091
On chunk35 : amount of unique ids = 20434091
On chunk36 : amount of unique ids = 20484091
On chunk37 : amount of unique ids = 20534091
On chunk38 : amount of unique ids = 20584091
On chunk39 : amount of unique ids = 20634091
On chunk40 : amount of unique ids = 20684091
On chunk41 : amount of unique ids = 20734091
On chunk42 : amount of unique ids = 20735617



 Starting to process ./MinneMUDAC_raw_files/2004_metro_tax_parcels.txt
On chunk0 : amount of unique ids = 20785617
On chunk1 : amount of unique ids = 20835617
On chunk2 : amount of unique ids = 20885617
On chunk3 : amount of unique ids = 20935617
On chunk4 : amount of unique ids = 20985617
On chunk5 : amount of unique ids = 21035617
On chunk6 : amount of unique ids = 21085617
On chunk7 : amount of unique ids = 21135617
On chunk8 : amount of unique ids = 21185617
On chunk9 : amount of unique ids = 21235617
On chunk10 : amount of unique ids = 21285617
On chunk11 : amount of unique ids = 21335617
On chunk12 : amount of unique ids = 21385617
On chunk13 : amount of unique ids = 21435617
On chunk14 : amount of unique ids = 21485617
On chunk15 : amount of unique ids = 21535617
On chunk16 : amount of unique ids = 21585617
On chunk17 : amount of unique ids = 21635617
On chunk18 : amount of unique ids = 21685617
On chunk19 : amount of unique ids = 21735617
On chunk20 : amount of unique ids = 21785617
On chunk21 : amount of unique ids = 21835617
On chunk22 : amount of unique ids = 21885617
On chunk23 : amount of unique ids = 21935617
On chunk24 : amount of unique ids = 21985617
On chunk25 : amount of unique ids = 22035617
On chunk26 : amount of unique ids = 22085617
On chunk27 : amount of unique ids = 22135617
On chunk28 : amount of unique ids = 22185617
On chunk29 : amount of unique ids = 22235617
On chunk30 : amount of unique ids = 22285617
On chunk31 : amount of unique ids = 22335617
On chunk32 : amount of unique ids = 22385617
On chunk33 : amount of unique ids = 22435617
On chunk34 : amount of unique ids = 22485617
On chunk35 : amount of unique ids = 22535617
On chunk36 : amount of unique ids = 22585617
On chunk37 : amount of unique ids = 22635617
On chunk38 : amount of unique ids = 22685617
On chunk39 : amount of unique ids = 22717992